Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.husky
coverage
jest
plop
.eslintignore
.eslintrc.json
.lintstagedrc.ts
.prettierignore
.prettierrc
jest.config.js
plopfile.js
pages/__tests__
**/*.test.*
**/*.stories.*
storybook-static
library
.vscode